[Unit]
Description=Joerogan podcast player. Developped by Gavroche.
After=network.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/home/pi/joerogan/service/autoplay.sh

[Install]
WantedBy=multi-user.target

